.home {
  height: 100%;
  background-color: #ececec;
}

.home-content {
  padding: 16px;
}

.add-order-button {
  float: right;
}

.modal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-items {
  display: flex;
  flex-direction: row;
}

.add-button {
  margin-left: 8px !important;
}
